  <!-- start of multer image uploader code -->
    <!-- <div class="container">
      <h4>File upload</h4>
      <%= //typeof msg != 'undefined' ? msg : '' %> 
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn grey">
            <span>File</span>
            <input name="newImage" type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <button type="submit" class="btn">Upload</button>
      </form>
      <br>
      <!-- typeof 'file' comes from image post route on server.js -->
      <!-- <img src="<%= //typeof file != 'undefined' ? file : '' %>" class="responsive-img"alt="Uploaded image not working"> -->
      <!-- <img src="<%=// typeof file != 'undefined' ? file : '' %>" alt="Uploaded image not working"> -->
      <!-- <img src="<%= //typeof file != 'undefined' ? path %>" alt="Uploaded image still not working"> -->
      <!-- <img src="images/05month.jpg"> -->
      
    <!-- </div> -->
    <!-- end of multer image uploader code --> 