


*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  background-color:#F2F0DF;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h5{
  text-transform: uppercase;
}
.card{
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 20px;
  
}
.card-image{
  border-radius: 20px 20px 0px 0px;
  height:180px;
  width: 250px;

}
.card-action{
  border-radius: 20px;
}  



.container{
  text-align: center;
  padding:30px;
}
.container-flex{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.nav{
  background-color: tomato;
  background-color:#2B8CAB;
}
.btn-select{
  background-color: slategrey;
}