*{
  box-sizing: border-box;
  text-transform: uppercase;
}
body{
  margin: 0 auto;
  background-color:#F2F0DF;
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}
h4{
  text-transform: uppercase;
}
h5{
  text-transform: uppercase;
}
hr { 
  color: gray; 
  border-style:inset; 
  border-width: 1px;
  margin: 0.5em auto; 
}
.card{
  width: 250px;
  /* height: 250px; */
  text-align: center;
  border-radius: 20px;
}
.new{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}
.login-form {
  height: 50%;
  width: 50%;
  text-align: center;
  
  margin-top: 25px;
}

.card-image{
  border-radius: 20px 20px 0px 0px;

}
.card-action{
  border-radius: 20px;
}  
.profile-card{
  width: 80%;
  background-color: rgb(255, 255, 255); 
  border-radius: 35px;
  text-align: center;
  padding: 20px;
}
.container{
  display: flex;
  justify-content: center;
  text-align: center;
  padding:30px;
}

.baby-post-list{
  display: flex;
  justify-content: center;
}
.nav{
  background-color: tomato;
  background-color:#2B8CAB;
}
.btn {
  min-width: 80px;
  background-color:#2B8CAB;
}
.btn:hover{
  background-color:#2B8CAB;
  filter: brightness(130%);
}

.btn-select{
  background-color: slategrey;
}
.create-post{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card .card-action:last-child {
  border-radius: 0 0 20px 20px;
}
.post-content{
  padding: 30px;
  padding-top: 0px;
  text-align: left;
  width: 500px;
  max-width: 80%;
}

#baby-block{
  display: flex;
  /* flex-direction: column; */
  justify-content: left;
  align-content: center;
  width: 85%;
}
#baby-text{
  display: flex;
  flex-direction: column;
  /* justify-content: left;
  align-content: center; */
  width: 85%;
}
#baby-image{
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

#post-image{
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

#post-block{
  display: flex;
  justify-content: left;
  align-content: center;
}

#logo{
  margin-bottom:-35px;
  margin-right: -10px;
  margin-top: -20px;
  height: 90px;
  min-width: 90px;
}
/* a.btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
a.btn {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
} */
.profile-section{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.card-section{
  margin: 20px 5px 0px 5px;
}
.buttons{
  display:inline-block;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}
#back-to-baby{
  margin-top: 25px;
}